<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://www.idpf.org/2007/opf" version="3.0" unique-identifier="bookid">
  <metadata xmlns:dc="http://purl.org/dc/elements/1.1/">
    <dc:title>{{metadata.title}}</dc:title>
    <dc:creator>{{metadata.author}}</dc:creator>
    {{#metadata.publisher}}
    <dc:publisher>{{metadata.publisher}}</dc:publisher>
    {{/metadata.publisher}}
    {{#metadata.language}}
    <dc:language>{{metadata.language}}</dc:language>
    {{/metadata.language}}
    {{#metadata.description}}
    <dc:description>{{metadata.description}}</dc:description>
    {{/metadata.description}}
    {{#metadata.subjects}}
    {{#metadata.subjects}}
    <dc:subject>{{.}}</dc:subject>
    {{/metadata.subjects}}
    {{/metadata.subjects}}
    {{#metadata.date}}
    <dc:date>{{metadata.date}}</dc:date>
    {{/metadata.date}}
    {{#additionalMetadata}}
    {{#additionalMetadata}}
    <{{key}}>{{value}}</{{key}}>
    {{/additionalMetadata}}
    {{/additionalMetadata}}
  </metadata>
  <manifest>
    {{#manifest}}
    <item id="{{id}}" href="{{href}}" media-type="{{mediaType}}" {{#properties}}properties="{{properties}}"
      {{/properties}} />
    {{/manifest}}
  </manifest>
  <spine>
    {{#spine}}
    <itemref idref="{{idref}}" linear="{{linear}}" />
    {{/spine}}
  </spine>
</package>