<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops">

<head>
  <title>Table of Contents</title>
</head>

<body>
  <nav epub:type="toc" id="toc">
    <h1>Table of Contents</h1>
    <ol>
      {{#spine}}
      <li>
        <a href="{{href}}">
          {{title}}
        </a>
        {{#children}}
        <ol>
          {{#children}}
          <li>
            <a href="{{href}}">
              {{title}}
            </a>
          </li>
          {{/children}}
        {{/children}}
      </li>
      {{/items}}
    </ol>
  </nav>
</body>

</html>